
.home{

    height: 100%;
    padding-top: 40vh;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background:linear-gradient(to right, rgba($primary-color,0.9),rgba($primary-color, 0.3)), url(./Pictures/man.jpg) center top no-repeat;
    background-size: cover;

    &__name{
        font-size: 5rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last{
            color: $secondary-color;
            font-weight: 700;
        }
    }
}